.hero-container {
  display: grid;
  grid-template-columns: minmax(auto, 1100px);
  justify-content: center;
  padding-top: 30px
}

.hero {
  color: #233034;
  font-size: 32px;
  line-height: 1.36;
  display: grid;
  grid-template-columns: repeat(2, .5fr);
  justify-content: center;
  align-content: center;
}
.text-container {
  display: grid;
  align-items: center;
}
.text {
  font-weight: 300;
}

.text p {
  margin: 0 10px;
}

.map {
  text-align: center;
}

.map img {
  max-height: 500px;
}
.baq-button {
  display: inline-block;
  background-color: #F2D903;
  text-decoration: none;
  color: #233034;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.2s ease-in;
  letter-spacing: 1px;
  padding: 10px 30px;
  border-radius: 20px;
  box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, .3);
  margin-left: 10px;
  letter-spacing: 1px;
}

.baq-button:hover {
  background-color: #ffd121;
  box-shadow: 3px 3px 40px 0 rgba(0, 0, 0, .3);
  transition: all 0.2s ease-in;
}

@media (max-width: 800px) {
  .hero {
    grid-template-columns: minmax(auto, 1fr);
  }

  .text-container {
    text-align: center;
  }
}