<footer>
  <div>
    <img src="/bqjs-logo-gris.svg" alt="Logo BarranquillaJS gris">
    <h2>©2019 BarranquillaJS</h2>
  </div>
  <div>
    <a target="_blank" href="https://www.instagram.com/barranquillajs/"><svg class="icon icon-instagram">
      <use xlink:href="#icon-instagram"></use>
    </svg></a>
    <a target="_blank" href="https://twitter.com/baq_js"><svg class="icon icon-twitter">
        <use xlink:href="#icon-twitter"></use>
      </svg></a>
    <a target="_blank" href="https://github.com/barranquillajs"><svg class="icon icon-github">
        <use xlink:href="#icon-github"></use>
      </svg></a>
    <a target="_blank" href="https://barranquillajs.slack.com/join/shared_invite/enQtNDI1OTYwOTE2MjQwLTJhYWIzOGJhZDQ3NDljYmMyZjNiMzUwYWM0ZGMwYTliMWRhYmQ2ZjVhODM4MjE2OTg4YTEwYTQzMjAzMzA1Mzc"><svg
      class="icon icon-slack">
        <use xlink:href="#icon-slack"></use>
      </svg></a>
  </div>
</footer>
<style>
  footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  footer div:first-of-type {
    display: flex;
  }

  footer div:first-of-type h2 {
    color: #777777;
    margin: 30px;
  }

  footer div:last-of-type a {
    margin: 0 10px;
    color: #777777;
    font-size: 30px;
  }
</style>