<li class:member-item="isMember" class:organizer-item="isOrganizer" class="item">
	<div class="item-inner">
		<div class:member-image-container="isMember" class:organizer-image-container="isOrganizer" class="item-image-container">
			<div class="aspect-ratio">
				<div>
					<img src={userPhoto} alt="foto de {name}" title="{name}" class="member-photo">
				</div>
			</div>
		</div>
	</div>
	<div class="member-name">{name}</div>
</li>

<script>
  export default {
    computed: {
      isMember: ({ role }) => role == "member",
      isOrganizer: ({ role }) => role == "organizer",
      userPhoto: ({ photo, name }) =>
        photo || `https://api.adorable.io/avatars/120/${name}@adorable.png`
    }
  };
</script>

<style>
  .aspect-ratio {
    position: relative;
    height: 0;
    width: 100%;
    padding-top: 100%;
  }
  .aspect-ratio > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .item {
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
  }
  .member-item {
    max-width: 33.33333%;
  	position: relative;    
  }

  .member-item .member-name {
    display: none;
  }

  .member-item:hover .member-name {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    background-color: #fff;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, .1);
    border-radius: 20px;
  }

  .member-item:hover .member-image-container {
    box-shadow: 3px 3px 30px 0px rgba(0, 0, 0, .2);
    transform: scale(1.05);
  }

  .organizer-item {
    max-width: 100%;
  }

  .organizer-item:hover .organizer-image-container {
    box-shadow: 3px 3px 30px 0px rgba(242, 217, 3, 0.4);
    transform: scale(1.05);
  }

  .item-inner {
    padding: 1rem;
  }
  .item-image-container {
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }
  .member-image-container {
    text-align: center;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, .1);
    transition: .2s ease;
  }
  .organizer-image-container {
    text-align: center;
    margin: 0 auto;
    transition: .2s ease;
  }
  .member-photo {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .member-name {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    line-height: 1.3;
  }
  @media screen and (min-width: 620px) {
    .member-item {
      max-width: 16.6666667%;
    }
    .organizer-item {
      max-width: 60%;
    }
  }
</style>