<div class="members-container">
	<div class="members-wrapper">
		<div class="flex-container flex-container-title">
			<h2 class="whoami"> ¿Quiénes somos? </h2>
		</div>
		<ul class="flex-container list" id="js-organizer-list">
      {#each organizers as member (member.id)}
        <MemberItem
          name="{member.name}"
          role="{member.role}"
          photo="{member.photo}"
        />
      {/each}
		</ul>
		<ul class="flex-container list" id="js-member-list">
      {#each regularMembers as member (member.id)}
        <MemberItem
          name="{member.name}"
          role="{member.role}"
          photo="{member.photo}"
        />
      {/each}
		</ul>
	</div>
</div>

<script>
  export default {
    components: {
      MemberItem: "./MemberItem.html"
    },
    computed: {
      organizers: ({ members }) => members.filter(member => member.role == 'organizer'),
      regularMembers: ({ members }) => members.filter(member => member.role == 'member')
    }
  };
</script>

<style>
  .members-container {
    position: relative;
  }

  .members-wrapper {
    margin: auto;
    max-width: 1152px;
  }
  .list {
    list-style-type: none;
  }
  .flex-container {
    padding: 50px 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    color: #393939;
    font-size: 2.5vh;
  }

  .whoami {
    font-family: Roboto, "Lucida Console";
    font-size: 4rem;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
  }
</style>