header {
  display: grid;
}

.bottom {
  display: none;
}

.top {
  display: grid;
  grid-template-columns: minmax(auto, .9fr) repeat(4, auto);
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: #F2D903;
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, .3);
}

.top img {
  width: 60px;
  height: 60px;
}

.top h1 {
  margin: 0;
}

.top div:first-of-type {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-content: start;
  grid-gap: 0 10px;
}

header nav div i {
  font-size: 22px;
  color: rgba(0, 0, 0, .7);
  transition: 0.3s ease;
}

header nav div i:hover {
  color: rgb(0, 0, 0);
}

@media (max-width: 370px) {
  .top {
    grid-template-columns: 1fr;
  }

  .top div {
    display: none;
  }

  .top div:first-of-type {
    justify-content: center;
  }

  .bottom {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: #F2D903;
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, .3);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1;
  }
}